
@media (max-width: 767px) {
  .navbar {
    text-align: center;
    .brand, .nav.pull-right, .nav.pull-right > li { float: none; }
    .brand { padding-bottom: 17px; }
    .nav.pull-right > li > a {
      padding-top: 10px;
      padding-bottom: 25px;
    }
  }

  .post { font-size: @baseFontSize; }

  .sticky-footer(46px, 40px, 40px, 60px); // sets default values for sticky footer

  .footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
