---
layout: base
---

<section class="row">
  <div class="span8 offset2">
    <div class="post">
      <p class="date">{{ page.date | date_to_string }}</p>
      <h1><a href="{{ post.url }}">{{ page.title }}</a></h1>
    </div>
  </div>
</section>

<div class="row">
  <div class="span2">
    <nav class="hidden-phone">
      {% if page.previous.url %}
        <a href="{{page.previous.url}}"><i class="icon-chevron-sign-left"></i></a>
      {% endif %}
    </nav>
  </div>
  <div class="span8">
    <div id="post" class="post">
      {{ content }}
    </div>
  </div>
  <div class="span2">
    <nav class="hidden-phone">
      {% if page.next.url %}
        <a href="{{page.next.url}}"><i class="icon-chevron-sign-right"></i></a>
      {% endif %}
    </nav>
  </div>
</div>

{% include see-all-articles.html %}
