<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}{% if page.title %} &mdash; {{ page.title }}{% endif %}</title>

  <meta name="description" content="{{ site.title }} &mdash; {{ site.description }} ">
  <meta name="author" content="Dave Gandy">
  <meta property="og:title" content="{{ site.title }}: {{ page.title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  {% if page.description %}<meta property="og:description" content="{{ page.description }}" />{% endif %}

  <link href='{{ site.url }}/feed.xml' rel='alternate' type='application/atom+xml'>

  <link rel="stylesheet" href="/assets/css/pygments.css">
  <script src="//use.fonticons.com/b7ba4a3d.js"></script>
  <link rel="stylesheet" href="/assets/css/site.css" media="screen">

  <link rel="shortcut icon" href="/assets/ico/favicon.ico">

  {% include typekit.html %}
  {% include tracking.html %}

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<div class="wrap"> <!-- necessary for sticky footer. wrap all content except footer -->
  {% include navbar.html %}
  {% include social.html %}
  {% include fusion-ad.html %}

  <div class="container">
    {{ content }}
  </div>
  <div class="push"><!-- necessary for sticky footer --></div>
</div>
{% include footer.html %}

<script src="http://platform.twitter.com/widgets.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/{{ site.jquery.version }}/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/{{ site.bootstrap.version }}/js/bootstrap.min.js"></script>

</body>
</html>
