<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
  <!-- Basic Page Needs
 ================================================== -->
  <meta charset="utf-8" />
  <title>{{ site.title }}{% if page.title %} &mdash; {{ page.title }}{% endif %}</title>
  <meta name="description" content="{{ site.title }} &mdash; {{ site.description }} ">
  <meta name="author" content="Dave Gandy">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:title" content="{{ site.title }}: {{ page.title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  {% if page.description %}<meta property="og:description" content="{{ page.description }}" />{% endif %}


  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href='{{ site.url }}/feed.xml' rel='alternate' type='application/atom+xml'>

  <!-- CSS
 ================================================== -->

  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/pygments.css">
  <script src=http://use.fonticons.com/n2vte21c.js></script>
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/site.css" media="screen">

  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="{{ site.baseurl }}assets/ico/favicon.ico">

  {% include typekit.html %}
  {% include tracking.html %}
</head>
<body>
<div class="wrap"> <!-- necessary for sticky footer. wrap all content except footer -->
  {% include navbar.html %}
  {% include social.html %}
  {% include carbon-ad.html %}

  <div class="container">
    {{ content }}
  </div>
  <div class="push"><!-- necessary for sticky footer --></div>
</div>
{% include footer.html %}

<script src="http://platform.twitter.com/widgets.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/{{ site.jquery.version }}/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/{{ site.bootstrap.version }}/js/bootstrap.min.js"></script>

</body>
</html>
