<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
  <!-- Basic Page Needs
 ================================================== -->
  <meta charset="utf-8" />
  <title>{{ site.title }}{% if page.title %} &mdash; {{ page.title }}{% endif %}</title>
  <meta name="description" content="{{ site.title }} &mdash; {{ site.tagline }} ">
  <meta name="author" content="Dave Gandy">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- CSS
 ================================================== -->

  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/pygments.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/site.css" media="screen">

  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="{{ site.baseurl }}assets/ico/favicon.ico">

  {% include typekit.html %}
  {% include tracking.html %}
</head>
<body>
<div class="wrap"> <!-- necessary for sticky footer. wrap all content except footer -->
  <!--{% include navbar.html %}-->
  {% include navbar.html %}
  {% include social.html %}
  {% include carbon-ad.html %}

  <div class="container">
    {{ content }}
  </div>
  <div class="push"><!-- necessary for sticky footer --></div>
</div>
{% include footer.html %}

<script src="http://platform.twitter.com/widgets.js"></script>
<script src="{{ site.baseurl }}assets/js/jquery-{{ site.jquery.version }}.min.js"></script>
<script src="{{ site.baseurl }}assets/js/bootstrap-{{ site.bootstrap.version }}.min.js"></script>

</body>
</html>
